__pycache__/
.cache/
.coverage
.env
.pytest_cache/
.ruff_cache/
.turbo/
.venv/
.pants.d/

*.py[cod]
**/.turbo/
*storybook.log

celerybeat-schedule*
coverage/
db.sqlite3
docs/_internal_only/

frontend/.env.local
frontend/.next/
frontend/coverage/
frontend/node_modules/
frontend/out/

htmlcov/
dist/

marketing/.next/
marketing/coverage/
marketing/node_modules/
marketing/out/

node_modules/

packages/*/.next/
packages/*/coverage/
packages/*/node_modules/

staticfiles/
storybook-static
