/**
 * Default Focus styles
 *
 * Next does not provide a custom, consistent focus style for links or forms.
 */
@layer base {
  :where(
    a,
    button,
    input,
    textarea,
    select,
    summary,
    [role='button'],
    [role='link'],
    [role='menuitem'],
    [role='menuitemcheckbox'],
    [role='menuitemradio'],
    [tabindex]:not([tabindex='-1'])
  ):focus-visible {
    outline: 2px solid var(--color-spotlight);
    outline-offset: 2px;

    /** Remove dotted-underline text decoration since it renders touching the outline bounding box */
    text-decoration: none;
  }

  /** Allow programmatic focus without a visible ring */
  [tabindex='-1']:focus:not(:focus-visible) {
    outline: none;
  }
}